<div class="drawable">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="hadodds" width="100%" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="fhaodds" width="100%" />
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="hhaodds" width="100%" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="hdcodds" width="100%" />
        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="ooeodds" width="100%" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="ttgodds" width="100%" />
        </div>
    </div>
    <div id="hilodds"></div>
    <div id="fhlodds"></div>


    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="crsodds_home" width="100%" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="fcsodds_home" width="100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="crsodds_away" width="100%" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="fcsodds_away" width="100%" />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="crsodds_draw" width="100%" />
        </div>
        <div class="col-lg-6 col-md-6 col-xs 6">
            <canvas id="fcsodds_draw" width="100%" />
        </div>
    </div>

    
</div>