<footer class="footer">
	<div class="container">
		<span class="text-muted">
			<%=foot.copyright%>
		</span>
	</div>
</footer>

<% for (let jsUri of script) { %>
    <script src="/static/js/<%=jsUri%>"></script>
<% } %>